body {
    background-color: #8fa0ec;
    text-align: center;
    margin: 0;
    width: 100%;
}

#login{
    background: white;
    padding: 5%;
    border-radius: 1.5%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 5%;
    font-size: 1.75em;
}

form {
    display: block;
}

label {
    color: #555;
    margin-bottom: 1.5%;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    padding: 3%;
    margin-bottom: 3%;
    border: 2px solid #ddd;
    border-radius: 1px;
    font-size: 1em;
    width: 100%;
}

input[type="submit"] {
    padding: 3%;
    background-color: #8fa0ec;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 0.5%;
    font-size: 1em;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: rgb(77, 238, 77);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}